/***RESET CSS***/
* {
	margin: 0;
	padding: 0;
}
html {
    font: 62,5% arial, sans-serif; /* pour normalisé la taille de mes font */

}
img {
    max-width: 100%; 
}
h1, h2, h3 {
    color: #fff;
}
h1 {
    font-size: 3.6rem;
}
h2 {
    font-size: 2.6rem;
    text-align: center;
    color: silver;
    margin-top: 75px;
    text-shadow: 1px 1px 0 #882D60;
}
h3 {
    font-size: 1.6rem;
}
body {
    background :white;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');




/**************/
/***HEADER*****/
/**************/

header {
	height: 150px;
	background-color:silver;
	background-image: 
	radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
	radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size:100px 50px;
	}
#logo {
	text-align: center;
	font-size: 4.5rem;
	font-weight: 600;
	color: #882D60;
	text-shadow: 0 1px 0 #eee,
             0 2px 0 #e5e5e5,
             -1px 3px 0 #C8C8C8,
             -1px 4px 0 #C1C1C1,
             -2px 5px 0 #B9B9B9,
             -2px 6px 0 #B2B2B2,
             -2px 7px 2px rgba(0,0,0, 0.6),
             -2px 7px 8px rgba(0,0,0, 0.2),
             -2px 7px 45px rgba(0,0,0, 0.4);
	font-family: 'Montserrat', sans-serif;
	padding-top: 30px;
}

nav {
	height: 60px;
	text-align: center;
	background-color: silver;
	margin-top: 30px;
}
nav ul {
	width: 80%;
	margin: 0 auto;
}
nav ul li {
	color: white;
	font-size: 1.6rem;
	padding-top: 15px;
	text-shadow: 1px 1px 0 #882D60;
}

/**************/
/*****MAIN*****/
/**************/

main {
	margin: 10px 50px 50px 50px;
}
main div{
	margin: 20px auto;
	padding: 3rem;
	border: 2px solid silver;
	border-radius: 10px;
}


/********/