
<ul class="Photo__list grid">
    <li ng-repeat="photo in $ctrl.photos" class="Photo__item">
        <figure>
            <img ng-src="{{photo.small}}"/>
        </figure>
        <ul class="Button__list grid">
            <li class="Button__item">
                <a ngclipboard data-clipboard-text="{{photo.small}}" href="#" class="Button__link">360</a>
            </li>
            <li class="Button__item">
                <a ngclipboard data-clipboard-text="{{photo.medium}}" href="#" class="Button__link">768</a>
            </li>
            <li class="Button__item">
                <a ngclipboard data-clipboard-text="{{photo.large}}" href="#" class="Button__link">1024</a>
            </li>
        </ul>
    </li>
</ul>
