<!DOCTYPE html>
<html ng-app="photoApp">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/vendor/grillade.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/list.css">
    </head>
    <body>
        <photo-list></photo-list>

        <script src="/node_modules/angular/angular.js"></script>

        <!-- App model  -->
        <script src="/app/models/photo.js"></script>
        <script src="/app/collections/photos.js"></script>

        <!-- Angular  -->
        <script src="/app/photoApp.js" type="text/javascript"></script>
        <script src="/app/components/photoList/photoListModule.js"></script>
        <script src="/app/components/photoList/photoListController.js"></script>
        <script src="/app/components/photoList/photoListComponent.js"></script>
    </body>
</html>
